* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #23272a;
    overflow: hidden;
    user-select:none;
}

.schedule {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin: 15px auto; 
    max-width: 100%; 
    position:fixed;
    top: -2px; 
    left: 345px;
}

.goals {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin: 15px auto; 
    position:fixed;
    top: 203px; 
    left: 345px;
}

  /* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
